{
    "presets": [
      ["@babel/preset-env", {
        "debug": false,
        "modules": false,
        "useBuiltIns": false
      }], 
      "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
           "useESModules": true
        }]
    ],
    "env": {
      "production": {
        "presets": ["react-optimize"]
      }
    }
  }